body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--top-line-color);
  color: var(--dark-grey-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
address {
  font-style: normal;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  display: block;
}

%list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

%link-decoration {
  text-decoration: none;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
%html {
  box-sizing: border-box;
}

%section {
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.no-scroll {
  overflow: hidden;
}
